/* AddAuthority.scss */

.auth-container {
    width: 100%;
    display: flex;
    margin-top: 30px;
  
    .Auth-form-container {
      flex: 1;
      padding: 20px;
    }
  
    .form-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 50vh;
      justify-content: center;
      width: auto;
  
      h2 {
        color: gray;
      }
  
      .input-len {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
        margin-top: 5px;
      }
  
      .error-message {
        color: red;
      }
  
      .green-btn {
        width: 150px;
        padding: 10px;
        border: none;
        color: white;
        background-color: #333333;
        cursor: pointer;
        margin-top: 10px;
        display: flex;
        align-items: center;
      }
    }
  }
  