.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 10px 1px rgb(0, 0, 0,0.47) ;
    box-shadow: 2px 2px 10px 1px rgb(201, 201, 201,0.47);
    height: 160px;

   
    .left,.right{
        display: flex;
       flex-direction: column;
       justify-content: space-between;
       .title{
        font-weight: bold;
        font-size: 14px;
        color: rgb(160, 160, 160);
       }
       .counter
       {
        font-size: 28px;
       }
       .link
       {
        font-size: 12px;
        font-size:12px;
        border-bottom: 1px solid gray;
        font-size: xx-large;
        cursor: pointer;
        .link-title{
            text-decoration: none;
        }
       }
       .percentage{
        display: flex;
        align-items: center;
        font-size: 14px;
        &.positive{
            color: green;
        }
        &.negative{
            color: red;
        }

       }

       .icon{
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(12,0,128,0.541);
        align-self: flex-end;
        width: 50px;
        height:50px;
       }
        .widgetbut{
        display: flex;
        align-items: center;
        gap: 25px;
        font-size: xx-large;
    }
    }
} 