.table-container {
  height: auto;
  margin-top: -10px;
  overflow-x: auto;
  padding:20px  ;
}

.button-cell {
  white-space: nowrap;
}

.btn {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.s-icons {}

.table-title {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #002E33;
}

body.active-model {
  overflow-y: hidden;
}

.btn-model {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
  margin-bottom: 10px;
  margin-right: 45px;
}

.model,
.overlay {

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgb(49, 49, 49, 0.8);
}

.model-content {
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
}


.close-model {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.table-container {
  width: 100%;
  margin: 10px;
  overflow-x: auto;
  


  
  .table {
    
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .table th,
  .table td {
    padding: 2px;
    text-align: left;
  }
  
  .table th {
    background-color: #002E33; 
    color: #fff; 
    padding: 2px;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa; 
  }
  
  .button-cell button {
    margin-right: 5px; 
  }
  
  .pagination {
    margin-top: 10px;
  }
  
  .prev,
  .next {
    background-color: #007bff; 
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .prev:disabled,
  .next:disabled {
    background-color: #ddd; 
    color: #333; 
    cursor: not-allowed;
  }


  .table .table-striped .table-bordered{
    padding-left: 20px;
  }
  

}

.headingTable{
  display: flex;
  align-items: center;
  justify-content: space-around;
}



