/* header */
.headers {
    grid-area: header;
    background-color: #263043;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 6px 7px -3px rgba(255, 255, 255, 0.35);
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-right .icon {
    margin-right: 10px;
    color: white;
  }
  
  /* menu icon for smaller screens */
  .menu-icon {
    display: none;
   
  }
  
  /* sidebar */
  .sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #002e33;
    overflow-y: auto;
    transition: width 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
  
  .sidebar-list {
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px;
    font-size: 18px;
  }
  
  .sidebar-list-item:hover {
    background-color: #9e9ea4;
    cursor: pointer;
  }
  
  .sidebar-list-item a {
    text-decoration: none;
    color: #9e9ea4;
  }
  
  /* main content area */
  .user-tables {
    grid-area: main;
    padding: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }

/*tables*/


.Content-table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 10px;
    
  }
  
  .Content-table th,
  .Content-table td {
    border: 1px solid #dddddd;
    text-align: left;
    
    padding: 8px;
  }
  
  .Content-table th {
    background-color: #f2f2f2;
  }
  
  .Content-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .Content-table tbody tr:hover {
    background-color: #9e9ea4;
  }

  /* DashboardHome.css */

.dashboard-home {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.cardContent {
  width: 200px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 24px;
  color: #007bff; /* Bootstrap primary color */
}
