.Homesignup {
  display: flex;
  margin-left: 200px;
  .left-container {
    flex: 2;
    background-color: #002e33;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.17);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;
    width: 50%;
    .head-text{
      
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        color: #f9B520; 
        display: flex;
        padding-right:  10px;
  
    }
    .rra-image{
      margin-right: 15px;
    width: 100px;  
    height: 100px;
   margin-bottom: -200px;
    }
  }
  .right-container {
    flex: 6;
    background-color: #fff;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.17);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;
    margin-left: -20px;
    .user-form {
      .user-inp {
        display: flex;
        align-items: center;
        width: 80%;
        .info-mode {
          width: 40%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: -10px;
          .unit {
            margin-left: 30px;
          }
        }
      }
      .green-btn {
        width: 150px;
        padding: 10px;
        border: none;
        color: white;
        background-color: teal;
        cursor: pointer;
        margin-top: 40px;
      }
      .green-btn:hover{
        background-color: #f9B520;
      }
    }
  }
}
