.Homesignup {
  display: flex;
  height: 100vh;
}
.right-container {
  flex: 1;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.user-form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.user-inp {
  margin-bottom: 15px;
}
input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
}
.select {
  cursor: pointer;
}

.input {
  cursor: pointer;
}

.success-message {
  color: #4caf50;
  margin-bottom: 10px;
}

.error-message {
  color: #f44336;
  margin-bottom: 10px;
}

.green-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f3c40;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sgnup-btn {
  display: flex;
  justify-content: center;
  margin-left: 500px;
}

.green-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
}

.green-btn:hover {
  background-color: #45a049;
}
