

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:wght@100;200;300&family=Raleway:ital,wght@0,200;1,200&display=swap');
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.card{
  width: auto;

}

.cardContainer {
  border: 1px solid #ddd;
  width: 85%;
  
  padding: 20px;
  margin: 20px;
  margin-left: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: medium;
}

.bookRooms{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: xx-large;
  font-family: 'Poppins', sans-serif;

}
.card-image{
  max-width: 50% ;
  max-height: 45hv;
}

.success-message {
  color: green;
  margin: 10px 0;
}


.error-message {
  color: red;
  margin: 10px 0;
}

.selection-box {
  margin-bottom: 15px;
}

label {
  font-weight: 300;
}

select,
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  width: 150px;
  height: 40px;
  background-color: #f9b520;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 75px;
  margin: 20px;
}


.room-review-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px; 
  margin: 30px;
}
button:hover {
  background-color: #a3dc2f;
}




.collapsedCard {
  height: 100px; 
  overflow: hidden;
}

.expandedCard {
  height: auto; 
}




.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-type {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 10px;
}

.close-model {
  margin: 20px;
  background-color: #ff5555;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
 
}

.custom-calendar {
  width: 100%;
}


.custom-calendar .fc-toolbar {
  background-color: #3498db;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
}


.custom-calendar .fc-button {
  background-color: #2980b9;
  color: #fff;
  margin: 0 5px;
  border-radius: 4px;
}

.custom-calendar .fc-event-dot {
  background-color: #e74c3c;
}


.custom-calendar .fc-event-title {
  color: #333;
}

.custom-calendar .fc-day {
  padding: 10px;
}

.custom-calendar .fc-day-selected {
  background-color: #3498db;
  color: #fff;
}

.custom-calendar .fc-day-today {
  background-color: #f5f5f5;
}

.custom-calendar .fc-event-container {
  margin-bottom: 10px;
}


.custom-calendar .fc-event {
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  margin: 0 5px 5px 0;
  cursor: pointer;
}
.calenderContainer{
  width: 95%;
  padding: 20px;
  margin: 20px;
  margin-left: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: medium;
}

.custom-calendar .fc-event-dragging {
  opacity: 0.5;
}

.info-mode{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}
.custom-calendar .fc-event-resizing {
  opacity: 0.5;
}

.calenderContainer .fc-day,
.calenderContainer .fc-event-title {
  text-decoration: none;
  list-style: none;
}
.custom-full-calendar {

  font-family: 'Poppins', sans-serif;
}
.custom-day-content {
  text-decoration: none; 
}
.popoverStyle{
  z-index: 99999 !important;
}

.a{
  color: #212529 !important;
}

.cardss{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex-wrap: wrap;
}
.custom-day-content {
  text-decoration: none;
}

.custom-full-calendar {
  width: 100%;
  height: 600px; 
  margin-top: 20px;
}


.custom-day-content {
  font-size: 16px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.popoverStyle {
  max-width: 300px;
  padding: 10px;
  text-decoration: none;
}
.canceled-event {
  background-color: red;
  color: white; 
}
.content-info{
  display: block;
}
.all-info {
  display: block;
  flex-direction: column; 
  margin-bottom: 20px; 
  
}
.RoomName{
  color: green;
  font-size: 16px;
  font-family: "Kaushan Script", cursive;
}

.dialog-content {
  /* Add your styles here */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.cardContainer-main{
  border: 1px solid #ddd;
  padding: 20px;
  width: fit-content;
  flex-wrap: wrap;
  gap: 20px;
  margin: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  
}

.parag-intro{
  display: flex;
  flex-wrap: wrap;

}

.cardContainersz{
  flex-direction: row;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 2em;
  transition: 3s;
  font-size: medium;
  flex-wrap: wrap;
  width: 350px;
  font-display: grid;
  margin: 1em;
  grid-template-rows: auto;
}


.allContainerCard{
  display: flex;
  flex-direction: column;
}
.selectMenu{
  width: 300px;
  
}
.displayCardMenu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.listInforoom{
  line-height: 2em;
}
.SearchBooked{
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2em;
}